.e523_40 { 
	
	width: 100%;
	height: 100vh;
	position: relative;
}
.e523_40 { 
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:1785px;
	height:1024px;
	position:absolute;
}
.e523_41 { 
	width:35px;
	height:35px;
	position:absolute;
	left:300px;
	top:135px;
	background-image:url(../Assets/Vector\ \(6\).png);
	background-repeat: no-repeat;

}

.e523_43 { 
	background-color:rgba(0, 0, 0, 1);
	width:1783px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	
}
.e523_44 { 
	position: absolute;
width: 270px;
height: 924px;
left: 0px;
top: 100px;

/* black */

background: #000000;
}
.e523_45 { 
	opacity:0.4000000059604645;
	width:718.0220336914062px;
	height:924px;
	position:absolute;
	left:360.9889831542969px;
	top:100px;
	background-image:url(../Assets/Rectangle\ 36.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e523_46 { 
	width:144px;
	height:34px;
	position:absolute;
	left:66px;
	top:531px;
	
}
.e523_47 { 
	color:rgba(255, 255, 255, 1);
	width:99px;
	height:23px;
	position:absolute;
	left:45px;
	top:11px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_48 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Assets/Vector\ \(13\).png);
	background-repeat: no-repeat;
}

.e523_50 { 
	width:191px;
	height:30px;
	position:absolute;
	left:66px;
	top:595px;
}
.e523_51 { 
	color:rgba(255, 255, 255, 1);
	width:146px;
	height:23px;
	position:absolute;
	left:45px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_52 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Assets/Vector\ \(14\).png);
	background-repeat: no-repeat;
}

.e523_54 { 
	width:119px;
	height:35px;
	position:absolute;
	left:66px;
	top:401px;
}
.e523_55 { 
	color:rgba(255, 255, 255, 1);
	width:74px;
	height:23px;
	position:absolute;
	left:45px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_56 { 
	width:33.75px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Assets/Vector\ \(23\).png);
	background-repeat: no-repeat;
}


.e523_59 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.875px;
	height:1.875px;
	position:absolute;
	left:25.3125px;
	top:24.375px;
}
.e523_60 { 
	width:102px;
	height:30px;
	position:absolute;
	left:66px;
	top:655px;
}
.e523_61 { 
	color:rgba(255, 255, 255, 1);
	width:57px;
	height:23px;
	position:absolute;
	left:45px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_62 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Assets/Vector\ \(15\).png);
	background-repeat: no-repeat;
}

.e523_64 { 
	width:165px;
	height:35px;
	position:absolute;
	left:66px;
	top:466px;
}
.e523_65 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:23px;
	position:absolute;
	left:45px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_66 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Assets/Vector\ \(12\).png);
	background-repeat: no-repeat;
}

.e523_68 { 
	width:111px;
	height:31px;
	position:absolute;
	left:66px;
	top:150px;
}
.e523_69 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Assets/Vector\ \(7\).png);
	background-repeat: no-repeat;
}

.e523_71 { 
	color:rgba(255, 255, 255, 1);
	width:51px;
	height:23px;
	position:absolute;
	left:60px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_72 { 
	width:125px;
	height:35px;
	position:absolute;
	left:66px;
	top:271px;
}
.e523_73 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Assets/Vector\ \(9\).png);
	background-repeat: no-repeat;
}

.e523_75 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:23px;
	position:absolute;
	left:45px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_76 { 
	width:194px;
	height:35px;
	position:absolute;
	left:66px;
	top:336px;
}
.e523_77 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Assets/Vector\ \(10\).png);
	background-repeat: no-repeat;
}

.e523_79 { 
	background-color:rgba(255, 255, 255, 1);
	width:2.5px;
	height:2.5px;
	position:absolute;
	left:5.012500286102295px;
	top:22.51249885559082px;
}

.e523_81 { 
	color:rgba(255, 255, 255, 1);
	width:149px;
	height:23px;
	position:absolute;
	left:45px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_82 { 
	width:128px;
	height:30px;
	position:absolute;
	left:66px;
	top:211px;
}
.e523_83 { 
	color:rgba(255, 166.00000530481339, 40.00000141561031, 1);
	width:83px;
	height:23px;
	position:absolute;
	left:45px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_84 { 
	width:37.5px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Assets/Vector\ \(8\).png);
	background-repeat: no-repeat;
}

.e523_86 { 
	width:46.62480545043945px;
	height:60px;
	position:absolute;
	left:80px;
	top:20px;
	background-image:url(../Assets/v523_45.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e523_87 { 
	width:250px;
	height:50px;
	position:absolute;
	left:1120px;
	top:130px;
}
.e523_88 { 
	background-color:rgba(255, 255, 255, 1);
	width:250px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e523_89 { 
	width:76px;
	height:24px;
	position:absolute;
	left:15px;
	top:13px;
}
.e523_90 { 
	width:15px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Assets/Vector\ \(18\).png);

}

.e523_92 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:37px;
	height:19px;
	position:absolute;
	left:39px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e523_93 { 
	width:10px;
	height:7px;
	position:absolute;
	left:211px;
	top:20px;
	background-image:url(../Assets/Vector\ \(19\).png);
	background-repeat: no-repeat;
}

.e523_95 { 
	width:500px;
	height:50px;
	position:absolute;
	left:540px;
	top:130px;
	
}
.e523_96 { 
	background-color:rgba(255, 255, 255, 1);
	width:500px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e523_97 { 
	width:24px;
	height:24px;
	position:absolute;
	left:10px;
	top:15px;
	background-image:url(../Assets/Vector\ \(20\).png);
	background-repeat: no-repeat;

}

.e523_99 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:116px;
	height:19px;
	position:absolute;
	left:54px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e523_100 { 
	width:101px;
	height:43px;
	position:absolute;
	left:804px;
	top:247px;
}
.e523_101 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e523_102 { 
  border: 4px solid rgba(255, 166.00000530481339, 40.00000141561031, 1);
}
.e523_102 { 
	width:54px;
	height:0px;
	position:absolute;
	left:0px;
	top:43px;
}
.e523_103 { 
	width:300px;
	height:315px;
	position:absolute;
	left:373px;
	top:320px;
}
.e523_104 { 
	background-color:rgba(255, 166.00000530481339, 40.00000141561031, 1);
	width:300px;
	height:315px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e523_105 { 
	border-radius:500px;
	width:80px;
	height:80px;
	position:absolute;
	left:110px;
	top:15px;
	background-image:url(../Assets/Ellipse\ 12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e523_106 { 
	width:158px;
	height:47px;
	position:absolute;
	left:71px;
	top:110px;
}
.e523_107 { 
	color:rgba(0, 0, 0, 1);
	width:158px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_108 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:125px;
	height:19px;
	position:absolute;
	left:16px;
	top:28px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e523_109 { 
	width:250px;
	height:133px;
	position:absolute;
	left:25px;
	top:167px;
}
.e523_110 { 
	background-color:rgba(255, 255, 255, 1);
	width:250px;
	height:133px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e523_111 { 
	width:95px;
	height:30px;
	position:absolute;
	left:15px;
	top:10px;
}
.e523_112 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:78px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e523_113 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:16px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e523_114 { 
	width:182px;
	height:30px;
	position:absolute;
	left:15px;
	top:50px;
}
.e523_115 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:30px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e523_116 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:16px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e523_117 { 
	width:79px;
	height:30px;
	position:absolute;
	left:15px;
	top:90px;
}
.e523_118 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:58px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e523_119 { 
	width:12px;
	height:12px;
	position:absolute;
	left:1px;
	top:15px;
	background-image:url(../Assets/Vector\ \(22\).png);
	background-repeat: no-repeat;
}

.e523_121 { 
	color:rgba(0, 0, 0, 1);
	width:61px;
	height:16px;
	position:absolute;
	left:18px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e523_122 { 
	width:20px;
	height:20px;
	position:absolute;
	left:265px;
	top:15px;
	background-image:url(../Assets/Vector\ \(21\).png);
	background-repeat: no-repeat;
}

.e523_124 { 
	width:300px;
	height:315px;
	position:absolute;
	left:703px;
	top:320px;
}
.e523_125 { 
	background-color:rgba(255, 166.00000530481339, 40.00000141561031, 1);
	width:300px;
	height:315px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e523_126 { 
	border-radius:500px;
	width:80px;
	height:80px;
	position:absolute;
	left:110px;
	top:15px;
	background-image:url(../Assets/Ellipse\ 12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e523_127 { 
	width:129px;
	height:47px;
	position:absolute;
	left:86px;
	top:110px;
}
.e523_128 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:23px;
	position:absolute;
	left:14px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_129 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:129px;
	height:19px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e523_130 { 
	width:250px;
	height:133px;
	position:absolute;
	left:25px;
	top:167px;
}
.e523_131 { 
	background-color:rgba(255, 255, 255, 1);
	width:250px;
	height:133px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e523_132 { 
	width:95px;
	height:30px;
	position:absolute;
	left:15px;
	top:10px;
}
.e523_133 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:78px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e523_134 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:16px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e523_135 { 
	width:182px;
	height:30px;
	position:absolute;
	left:15px;
	top:50px;
}
.e523_136 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:30px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e523_137 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:16px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e523_138 { 
	width:79px;
	height:30px;
	position:absolute;
	left:15px;
	top:90px;
}
.e523_139 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:58px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e523_140 { 
	width:12px;
	height:12px;
	position:absolute;
	left:1px;
	top:15px;
	background-image:url(../Assets/Vector\ \(22\).png);
	background-repeat: no-repeat;
}

.e523_142 { 
	color:rgba(0, 0, 0, 1);
	width:61px;
	height:16px;
	position:absolute;
	left:18px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e523_143 { 
	width:20px;
	height:20px;
	position:absolute;
	left:265px;
	top:15px;
	background-image:url(../Assets/Vector\ \(21\).png);
	background-repeat: no-repeat;
}

.e523_145 { 
	width:300px;
	height:315px;
	position:absolute;
	left:1033px;
	top:320px;
	
}
.e523_146 { 
	background-color:rgba(255, 166.00000530481339, 40.00000141561031, 1);
	width:300px;
	height:315px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e523_147 { 
	border-radius:500px;
	width:80px;
	height:80px;
	position:absolute;
	left:110px;
	top:15px;
	background-image:url(../Assets/Ellipse\ 12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e523_148 { 
	width:143px;
	height:47px;
	position:absolute;
	left:79px;
	top:110px;
}
.e523_149 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:23px;
	position:absolute;
	left:26px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_150 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:143px;
	height:19px;
	position:absolute;
	left:0px;
	top:28px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e523_151 { 
	width:250px;
	height:133px;
	position:absolute;
	left:25px;
	top:167px;
}
.e523_152 { 
	background-color:rgba(255, 255, 255, 1);
	width:250px;
	height:133px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e523_153 { 
	width:95px;
	height:30px;
	position:absolute;
	left:15px;
	top:10px;
}
.e523_154 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:78px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e523_155 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:16px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e523_156 { 
	width:182px;
	height:30px;
	position:absolute;
	left:15px;
	top:50px;
}
.e523_157 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:30px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e523_158 { 
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:16px;
	position:absolute;
	left:0px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e523_159 { 
	width:79px;
	height:30px;
	position:absolute;
	left:15px;
	top:90px;
}
.e523_160 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:58px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e523_161 { 
	width:12px;
	height:12px;
	position:absolute;
	left:1px;
	top:15px;
	background-image:url(../Assets/Vector\ \(22\).png);
	background-repeat: no-repeat;
}

.e523_163 { 
	color:rgba(0, 0, 0, 1);
	width:61px;
	height:16px;
	position:absolute;
	left:18px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e523_164 { 
	width:20px;
	height:20px;
	position:absolute;
	left:265px;
	top:15px;
	background-image:url(../Assets/Vector\ \(21\).png);
	background-repeat: no-repeat;
}

.e523_166 { 
	width:154px;
	height:30px;
	position:absolute;
	left:66px;
	top:715px;
	
}
.e523_167 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:23px;
	position:absolute;
	left:45px;
	top:7px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e523_168 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../Assets/Vector\ \(16\).png);
	background-repeat: no-repeat;
}


  